In [9]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.formula.api import ols

import seaborn as sb
sb.set(style="ticks", color_codes=True)

import matplotlib.pyplot as plt

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale
from collections import Counter

In [37]:
bike = pd.read_csv ("BikeData_WD.csv")

In [38]:
bike.head()

,CB,Street,SW_ES,SW_WS,SW_EN,SW_NW,RS,RN,Rd_Wd,Bk_Prox,Bk_Inf,Tr_Dir,Ld_Use
0,401,Vernon Blvd,0,8,1,9,362,280,42.0,751,N,2,IM
1,401,9th St,4,2,2,11,22,1,25.0,672,N,1,IM
2,401,11th St,0,9,4,9,30,14,40.0,1222,P,1,IM
3,401,38th Av,4,4,2,4,31,37,40.0,54,N,2,MX
4,401,29th St,5,3,3,6,8,430,30.0,984,N,1,R

In [39]:
bike.corr()

,SW_ES,SW_WS,SW_EN,SW_NW,RS,RN,Rd_Wd,Bk_Prox,Tr_Dir
SW_ES,1.000000,0.065040,0.405311,0.164359,0.196986,0.157283,0.044879,-0.009755,0.100481
SW_WS,0.065040,1.000000,0.863342,0.256836,0.237351,0.203526,0.316769,0.092848,-0.098267
SW_EN,0.405311,0.863342,1.000000,0.301772,0.234910,0.186551,0.311570,0.126509,-0.020493
SW_NW,0.164359,0.256836,0.301772,1.000000,0.319439,0.193307,0.084113,0.076933,-0.070996
RS,0.196986,0.237351,0.234910,0.319439,1.000000,0.584151,0.151615,0.059246,0.115074
RN,0.157283,0.203526,0.186551,0.193307,0.584151,1.000000,0.013568,-0.000249,0.023759
Rd_Wd,0.044879,0.316769,0.311570,0.084113,0.151615,0.013568,1.000000,0.161391,-0.057068
Bk_Prox,-0.009755,0.092848,0.126509,0.076933,0.059246,-0.000249,0.161391,1.000000,-0.045707
Tr_Dir,0.100481,-0.098267,-0.020493,-0.070996,0.115074,0.023759,-0.057068,-0.045707,1.000000

In [ ]:
bike.wd = bike.drop (columns=['Bk_Prox','Bk_Inf', 'Tr_Dir', 'Ld_Use'])

In [ ]:
bike.wd.head()

In [ ]:
bike.wd.corr()

In [ ]:
sb.pairplot (bike.wd, diag_kind="kde", hue= 'Rd_Wd')

In [ ]:
bike.head()

In [ ]:
bike.prox = bike.drop (columns=['Rd_Wd','Bk_Inf', 'Tr_Dir', 'Ld_Use'])

In [ ]:
bike.prox.head()

In [ ]:
sb.pairplot (bike.prox, diag_kind= 'kde', hue = "Bk_Prox")

In [ ]:
bike.prox.corr()

In [ ]:
bike1 = pd.read_csv ("BikeData_WE.csv")
bike1.head()

In [ ]:
bike1.wd = bike1.drop (columns=['Bk_Prox','Bk_Inf', 'Tr_Dir', 'Ld_Use'])

In [ ]:
bike1.wd.head()

In [ ]:
bike1.wd.corr()

In [ ]:
sb.pairplot (bike1.wd, kind = 'reg')

In [ ]:
bike1.prox = bike1.drop (columns=['Rd_Wd','Bk_Inf', 'Tr_Dir', 'Ld_Use'])

In [ ]:
bike1.prox.head()

In [ ]:
bike1.prox.corr()

In [ ]:
sb.pairplot (bike1.prox, kind = 'reg')

In [3]:
bike.head()

,CB,Street,SW_ES,SW_WS,SW_EN,SW_NW,RS,RN,Rd_Wd,Bk_Prox,Bk_Inf,Tr_Dir,Ld_Use
0,401,Vernon Blvd,0,8,1,9,362,280,42.0,751,N,2,IM
1,401,9th St,4,2,2,11,22,1,25.0,672,N,1,IM
2,401,11th St,0,9,4,9,30,14,40.0,1222,P,1,IM
3,401,38th Av,4,4,2,4,31,37,40.0,54,N,2,MX
4,401,29th St,5,3,3,6,8,430,30.0,984,N,1,R

In [36]:
bike.corr()

,SW_ES,SW_WS,SW_EN,SW_NW,RS,RN,Rd_Wd,Bk_Prox,Tr_Dir
SW_ES,1.000000,0.065040,0.405311,0.164359,0.196986,0.157283,0.044879,-0.009755,0.100481
SW_WS,0.065040,1.000000,0.863342,0.256836,0.237351,0.203526,0.316769,0.092848,-0.098267
SW_EN,0.405311,0.863342,1.000000,0.301772,0.234910,0.186551,0.311570,0.126509,-0.020493
SW_NW,0.164359,0.256836,0.301772,1.000000,0.319439,0.193307,0.084113,0.076933,-0.070996
RS,0.196986,0.237351,0.234910,0.319439,1.000000,0.584151,0.151615,0.059246,0.115074
RN,0.157283,0.203526,0.186551,0.193307,0.584151,1.000000,0.013568,-0.000249,0.023759
Rd_Wd,0.044879,0.316769,0.311570,0.084113,0.151615,0.013568,1.000000,0.161391,-0.057068
Bk_Prox,-0.009755,0.092848,0.126509,0.076933,0.059246,-0.000249,0.161391,1.000000,-0.045707
Tr_Dir,0.100481,-0.098267,-0.020493,-0.070996,0.115074,0.023759,-0.057068,-0.045707,1.000000

In [4]:
bike.dir = bike.drop (columns=['Rd_Wd','Bk_Inf', 'Bk_Prox', 'Ld_Use'])

C:\Users\rrn253\Downloads\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [7]:
bike.dir.head()

    CB       Street  SW_ES  SW_WS  SW_EN  SW_NW   RS   RN  Tr_Dir
0  401  Vernon Blvd      0      8      1      9  362  280       2
1  401       9th St      4      2      2     11   22    1       1
2  401      11th St      0      9      4      9   30   14       1
3  401      38th Av      4      4      2      4   31   37       2
4  401      29th St      5      3      3      6    8  430       1

In [33]:
bike.dir.corr()

           SW_ES     SW_WS     SW_EN     SW_NW        RS        RN    Tr_Dir
SW_ES   1.000000  0.065040  0.405311  0.164359  0.196986  0.157283  0.100481
SW_WS   0.065040  1.000000  0.863342  0.256836  0.237351  0.203526 -0.098267
SW_EN   0.405311  0.863342  1.000000  0.301772  0.234910  0.186551 -0.020493
SW_NW   0.164359  0.256836  0.301772  1.000000  0.319439  0.193307 -0.070996
RS      0.196986  0.237351  0.234910  0.319439  1.000000  0.584151  0.115074
RN      0.157283  0.203526  0.186551  0.193307  0.584151  1.000000  0.023759
Tr_Dir  0.100481 -0.098267 -0.020493 -0.070996  0.115074  0.023759  1.000000

# ANOVA

In [41]:
mod = ols('Rd_Wd ~ RN',
                data=bike).fit()
                
aov_table = sm.stats.anova_lm(mod, typ=2)

In [42]:
print (aov_table)

                sum_sq     df         F    PR(>F)
RN            6.790264    1.0  0.018781  0.891266
Residual  36877.682921  102.0       NaN       NaN

# Regression

In [22]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [29]:
X = bike.dir[['SW_ES', 'SW_WS', 'SW_EN',
               'SW_NW', 'RS','RN']]
y = bike.dir['Tr_Dir']

In [31]:
reg = LinearRegression().fit(X, y)